.bg{
    position: absolute;
    background-image: url(../Assets/sunshine.jpg);
    width: 100%;
    min-height: 100%;
}
.bg1{
    position: absolute;
    background-image: url(../Assets/wind.png);
    width: 100%;
    min-height: 100%;
}
.bg2{
    position: absolute;
    background-image: url(../Assets/sea.jpg);
    width: 100%;
    min-height: 100%;
}
.bg3{
    position: absolute;
    background-image: url(../Assets/jungle.jpg);
    width: 100%;
    min-height: 100%;
}
.container{
margin: auto;
margin-top: 75px;
border-radius: 12px;
}
.topbar{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.topbar input{
    display: flex;
    width: 350px;
    height: 35px;
    background-color: rgb(212, 212, 212);
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 15px;
    font-weight: 400;
}
.searchIcon{
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgb(212, 212, 212);
    border-radius: 40px;
    cursor: pointer;

}
.weatherImg{
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
.weatherTemp{
    display: flex;
    color: white;
    font-size: 100px;
    font-weight: 400;
    justify-content: center;
}
.weatherLocation{
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: 400;
    justify-content: center;
}
.dataContainer{
    margin-top: 50px;
    display: flex;
    color: white;
    justify-content: center;
}
.element{
    margin: 10px 80px;
    display: flex;
    align-items: flex-start;
    gap:12px;
}
.data{
    font-size: 25px;
    font-weight: 400;
}
.text{
    font-size: 15px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}